{% extends 'base.html' %}

{% block content %}
<h2>Editar Item en la Tabla: {{ table_name }} en la Base de Datos: {{ db_name }}</h2>
<form method="POST">
    {% for col, value in zip(columns, item) %}
        <div>
            <label for="{{ col[0] }}">{{ col[0] }}</label>
            <input type="text" id="{{ col[0] }}" name="{{ col[0] }}" value="{{ value }}" required>
        </div>
    {% endfor %}
    <button type="submit">Guardar Cambios</button>
</form>
<a href="{{ url_for('view_table', db_name=db_name, table_name=table_name) }}">Cancelar</a>
{% endblock %}
